########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################
# By default, the values from the CmakeBuild.config.default are used.
# Copy any value over from the CMakeBuild.config.default that you want to change.

# The name that is advertised.
# Should be 4 characters or less.
# You can use up to 25, but the name in the advertisement package will be truncated to 4 characters.
BLUETOOTH_NAME=Crwn

# By default, a Crownstone has its serial disabled, which can be enabled via a bluetooth command.
# You can change the default value:
CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

# Set the log level.
# A complete list of options can be found in CMakeBuild.config.default
SERIAL_VERBOSITY=SERIAL_INFO

# Enable the binary protocol if you want to use a UART library.
# Disable the binary protocol if you want to use a serial communication program, like Minicom.
CS_UART_BINARY_PROTOCOL_ENABLED=0

########################################################################################################################
# Settings for the nRF52840
# See CMakeBuild.config.default for explanation.
########################################################################################################################

# The hardware board where you want to upload the firmware
# For the complete overview of the hardware boards, see CMakeBuild.config.default
HARDWARE_BOARD=PCA10056

# The hardware board as defined within the Nordic code (e.g. for internal pin layout).
NORDIC_HARDWARE_BOARD=PCA10056

# The device itself (should be removed)
DEVICE=nRF52840_xxAA

# The particular Nordic device. 
# See https://infocenter.nordicsemi.com/topic/ps_nrf52840/memory.html.
# It has 1024 kB flash and 256 kB of ram.
NRF_DEVICE=NRF52840_XXAA

# The device type without specific hardware series suffix
NRF_DEVICE_TYPE=NRF52840

# We are using SDK version 17
NORDIC_SDK_VERSION=17

# Specify the Nordic SDK version in more detail
NORDIC_SDK_VERSION_MAJOR=17
NORDIC_SDK_VERSION_MINOR=1
NORDIC_SDK_VERSION_PATCH=0

# Specify the Mesh SDK version
MESH_SDK_VERSION_MAJOR=5
MESH_SDK_VERSION_MINOR=0
MESH_SDK_VERSION_PATCH=0

# This SDK comes with Softdevice 7.2.0, check for documentation
# bluenet/tools/nrf5_sdk/components/softdevice/s132/doc/s132_nrf52_7.2.0_release-notes.pdf
# bluenet/tools/nrf5_sdk/components/softdevice/s132/doc/s132_nrf52_7.2.0_migration-document.pdf
# Details:
#   Uses MBR version 2.4.1
#   Combined MBR & SoftDevice memory requirements
#     Flash: 152 kB (0x26000 bytes)
#     Ram: 5.6 kB (0x1668 bytes)
#     Call stack: worst-case 1.75 kB (0x700 byte) and is co-shared with the application.
#   Firmware id: 0x0101
SOFTDEVICE_MAJOR=7
SOFTDEVICE_MINOR=2
SOFTDEVICE_SERIES=132
SOFTDEVICE=s132_nrf52_7.2.0

# The microapp based is situated as far to the end of flash as possible.
# On the nRF52832 this is 19 pages + 4 pages from the end (each page is 0x1000 bytes)
# Hence, it was 0x80000 - (19+4)*0x1000 = 0x69000.
# Let's assume we want now to reserve not 4, but 16 pages (0x4000, thus 16kB).
# We can later decide if this is for 4 microapps, or 1 big one.
#              0x100000 - (19+16)*0x1000 = 0xdd000
FLASH_MICROAPP_BASE=0xdd000

# Total size of flash is 1024 kB (0x100000 bytes). We can use up to FLASH_MICROAPP_BASE (0xdd000).
# The maximum size of the app is then 0xdd000 - 0x26000 = 0xb7000
APPLICATION_START_ADDRESS=0x26000
APPLICATION_MAX_LENGTH=0xb7000

# RAM base can just be obtained through running bluenet with logging enabled and pen it down.
# The remaining amount is 256 kB minus the result (0x40000 - 0x2a48 = 0x3d5b8).
RAM_R1_BASE=0x20002a48
RAM_APPLICATION_AMOUNT=0x3d5b8

# This setting is defined in nrf_dfu_types.h. Here we predefine it so it is available to the wider code base.
# This is the mbr settings address for the nRF52840-QFAA.
CS_BOOTLOADER_SETTINGS_ADDRESS=0xFF000

# This setting is defined in nrf_dfu_types.h. Here we predefine it so it is available to the wider code base.
# This is the mbr settings address for the nRF52840-QFAA.
CS_MBR_PARAMS_PAGE_ADDRESS=0xFE000
