########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################
#
# The configuration settings that are used for releases are set in:
#    source/conf/cmake/CMakeBuild.config.default
#
# The default settings here are for development. The settings of CMakeBuild.config.default will be overwritten.
#
# If you want other settings on your system, do not just this file (it will be commited to the code repository).
#
# Recommended:
#
#   + Add the custom settings to a new file in this directory: config/default/CMakeBuild.overwrite.config
#     + If those are runtime settings, you can also use: config/default/CMakeBuild.runtime.config
#     + Run cmake and make with the default target.
#   + Add a new directory in config, say config/feature
#     + Copy this file to that directory and change whatever you like.
#     + No need to commit this new directory to git, feel free again to use overwrite and runtime config.
#     + Run cmake and make with the new target (here called feature).
#

# The name that is advertised for this target. Should be 4 characters or less.
BLUETOOTH_NAME=CR40

# By default, a Crownstone has its serial disabled, which can be enabled via a bluetooth command.
# You can change the default value:
CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

# Set the log level.
# A complete list of options can be found in CMakeBuild.config.default
# Always check if you can compile with maximum verbosity: SERIAL_DEBUG.
SERIAL_VERBOSITY=SERIAL_INFO

# Enable the binary protocol if you want to use a UART library.
# Disable the binary protocol if you want to use a serial communication program, like minicom.
CS_UART_BINARY_PROTOCOL_ENABLED=1

# Enable microapps
BUILD_MICROAPP_SUPPORT=1

# Automatically enable microapp on boot
AUTO_ENABLE_MICROAPP_ON_BOOT=1

# Enable gpio
BUILD_GPIOTE=1

GPIO_PIN1_INDEX=0
GPIO_PIN2_INDEX=1
GPIO_PIN3_INDEX=2
GPIO_PIN4_INDEX=3

BUTTON1_INDEX=0
BUTTON2_INDEX=1
BUTTON3_INDEX=2
BUTTON4_INDEX=3

LED1_INDEX=0
LED2_INDEX=1
LED3_INDEX=2
LED4_INDEX=3

########################################################################################################################
# Settings for the nRF52840
# See CMakeBuild.config.default for explanation.
########################################################################################################################

# The hardware board where you want to upload the firmware
# For the complete overview of the hardware boards, see CMakeBuild.config.default
HARDWARE_BOARD=PCA10056

# The hardware board as defined within the Nordic code (e.g. for internal pin layout).
NORDIC_HARDWARE_BOARD=PCA10056

# The device itself (should be removed)
DEVICE=nRF52840_xxAA

# The particular Nordic device. 
# See https://infocenter.nordicsemi.com/topic/ps_nrf52840/memory.html.
# It has 1024 kB flash and 256 kB of ram.
NRF_DEVICE=NRF52840_XXAA

# The device type without specific hardware series suffix
NRF_DEVICE_TYPE=NRF52840

# The total amount of flash for the nRF52840-QFAA (1 MB)
TOTAL_AMOUNT_FLASH=0x100000

# The total amount of ram for the nRF52840-QFAA (256 kB)
TOTAL_AMOUNT_RAM=0x40000

# We are using SDK version 17
NORDIC_SDK_VERSION=17

# Specify the Nordic SDK version in more detail
NORDIC_SDK_VERSION_MAJOR=17
NORDIC_SDK_VERSION_MINOR=1
NORDIC_SDK_VERSION_PATCH=0

# Specify the Mesh SDK version
MESH_SDK_VERSION_MAJOR=5
MESH_SDK_VERSION_MINOR=0
MESH_SDK_VERSION_PATCH=0

# This SDK comes with Softdevice 7.2.0, check for documentation
# bluenet/tools/nrf5_sdk/components/softdevice/s132/doc/s132_nrf52_7.2.0_release-notes.pdf
# bluenet/tools/nrf5_sdk/components/softdevice/s132/doc/s132_nrf52_7.2.0_migration-document.pdf
# Details:
#   Uses MBR version 2.4.1
#   Combined MBR & SoftDevice memory requirements
#     Flash: 152 kB (0x26000 bytes)
#     Ram: 5.6 kB (0x1668 bytes)
#     Call stack: worst-case 1.75 kB (0x700 byte) and is co-shared with the application.
#   Firmware id: 0x0101
SOFTDEVICE_MAJOR=7
SOFTDEVICE_MINOR=2
SOFTDEVICE_SERIES=132
SOFTDEVICE=s132_nrf52_7.2.0

# The number of pages reserved before FDS for possible FDS expansion in the future
# On the nRF52832 the microapp size is 2 pages.
# On the nRF52840 we have more pages, so lets reserve some more.
CS_FDS_VIRTUAL_PAGES_RESERVED_BEFORE=8

# The microapp located before FDS expansion.
# On the nRF52832 the microapp size is 4 pages
# On the nRF52840 we have more pages, so allow for 4 apps.
# For now though, set number of pages to 4, as the code doesn't work yet for multiple microapps.
# Page size is 0x1000.
# 0xEF000 - (4+8+16)*0x1000 = 0xD3000
FLASH_MICROAPP_BASE=0xD3000
FLASH_MICROAPP_PAGES=4

# We can use up to the P2P DFU page: FLASH_MICROAPP_BASE - 0x1000.
# The maximum size of the app is then 0xD3000 - 0x1000 - 0x26000 = 0xAC000
APPLICATION_START_ADDRESS=0x26000
APPLICATION_MAX_LENGTH=0xAC000

# RAM base can just be obtained through running bluenet with logging enabled and pen it down.
# The remaining amount is 256 kB minus the result (0x40000 - 0x2AA8 = 0x3D558).
RAM_R1_BASE=0x20002AA8
RAM_APPLICATION_AMOUNT=0x3D558

# Reserve some extra space for the bootloader, for debugging.
BOOTLOADER_START_ADDRESS=0xEF000
BOOTLOADER_LENGTH=0xF000


# This setting is defined in nrf_dfu_types.h. Here we predefine it so it is available to the wider code base.
# This is the mbr settings address for the nRF52840-QFAA.
CS_BOOTLOADER_SETTINGS_ADDRESS=0xFF000

# This setting is defined in nrf_dfu_types.h. Here we predefine it so it is available to the wider code base.
# This is the mbr settings address for the nRF52840-QFAA.
CS_MBR_PARAMS_PAGE_ADDRESS=0xFE000

