bin/
build/
downloads/
tmp/
stamp/
tools/
tags
.cproject
.project
*~
.idea/
.settings/
.vscode/
.DS_Store
env.config
node_modules
*.pyc
*.swp
nohup.out
.metadata/
.vimrc
.ctags/
**/CMakeBuild.overwrite.config
**/CMakeBuild.runtime.config
docs/html
