#####################################################################
# bluenet directory paths
# the workspace directory can be used as a root directory to contain all other directories
#  used to build the bluenet project
# the structure of the workspace will be
# ${BLUENET_WORKSPACE_DIR}/
#   |- bluenet
#   |   the bluenet source code
#   |- build
#   |   the build files created when compiling
#   |- bin
#   |   the compiled binaries (*.bin, *.elf, *.hex)
#   |- config
#   |   the config files
#   |- release
#       the release files (binaries, CMakeBuild.config, docs, etc)
# if you want to follow this structure, all you need to define is the BLUENET_WORKSPACE_DIR, the
# rest will be assigned to their default values
#####################################################################
# BLUENET_WORKSPACE_DIR=

#####################################################################
# optionally overwrite the different directories. use absolute paths!
#####################################################################

# the BLUENET_DIR defines the location where the bluenet source code is located
# BLUENET_DIR=

# the BLUENET_BUILD_DIR defines the location where the code is built
# BLUENET_BUILD_DIR=

# the BLUENET_BIN_DIR defines the location where the compiled binaries are copied to
# BLUENET_BIN_DIR=

# the BLUENET_CONFIG_DIR defines the location where the config files can be found
# BLUENET_CONFIG_DIR=

# the BLUENET_RELEASE_DIR defines the location where the release files should be copied to
# BLUENET_RELEASE_DIR=
