########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################

# The name that is advertised.
# Should be 4 characters or less. You can use up to 25, but the name in the advertisement package will be
# truncated to 4 characters.
BLUETOOTH_NAME=ANNE

# The hardware board where you want to upload the firmware
# For the complete overview of the hardware boards, see $BLUENET_DIR/CMakeBuild.config.default
# HARDWARE_BOARD=

# By default, the values from the CmakeBuild.config.default
# are used
# Copy any value over from the $BLUENET_DIR/CMakeBuild.config.default that you want to change. E.g.
# enable meshing by setting
#   MESHING=1
# or set serial verbosity to debug by setting
#
# By default, a Crownstone has its serial disabled, which can be enabled via a bluetooth command.
# You can change the default value:

CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

#
# If you have serial enabled, you probably want to disable the binary protocol, so that you only get debug text.
# CS_UART_BINARY_PROTOCOL_ENABLED=0

CS_SERIAL_NRF_LOG_ENABLED=0

SERIAL_VERBOSITY=DEBUG

########################################################################################################################
# Build System Configuration. This variables need to be adjusted to your build system paths.
# Note: They can be left as is if you use the install.sh script at crownstone-sdk
########################################################################################################################

# This is the directory where the cross-compiler resides
# COMPILER_PATH=

# The compiler type
# COMPILER_TYPE=arm-none-eabi

# The JLink utility (when using the Segger to flash the nRF)
# JLINK=/usr/bin/JLinkExe

# The JLink utilty that can be used with gdb
# JLINK_GDB_SERVER=/usr/bin/JLinkGDBServer

# Location of the Nordic Software Development Kit
# NRF5_DIR=

# Location of the mesh SDK
# MESH_SDK_DIR=

# The bootloader start address and size 
BOOTLOADER_START_ADDRESS=0x71000
BOOTLOADER_LENGTH=0xD000

SERIAL_NUM=682450212

