########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################
# By default, the values from the CmakeBuild.config.default are used.
# Copy any value over from the CMakeBuild.config.default that you want to change.

# The name that is advertised.
# Should be 4 characters or less.
# You can use up to 25, but the name in the advertisement package will be truncated to 4 characters.
BLUETOOTH_NAME=CRWN

# The hardware board where you want to upload the firmware
# For the complete overview of the hardware boards, see CMakeBuild.config.default
HARDWARE_BOARD=PCA10040

# By default, a Crownstone has its serial disabled, which can be enabled via a bluetooth command.
# You can change the default value:
CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

# Set the log level.
# A complete list of optios can be found in CMakeBuild.config.default
SERIAL_VERBOSITY=SERIAL_DEBUG

# If you have serial enabled, you probably want to disable the binary protocol, so that you only get debug text.
CS_UART_BINARY_PROTOCOL_ENABLED=1

# Use the NRF logger module, handy when debugging NRF modules.
# 0 to disable.
# 1 to use RTT for logging, so it can coexist with bluenet serial.
#   Only works when connected via JLink.
# 2 to use UART, this replaces bluenet serial, and thus breaks the binary protocol.
#   Also, the UART pin is then defined at compile time.
#CS_SERIAL_NRF_LOG_ENABLED=2
#CS_SERIAL_NRF_LOG_PIN_TX=6


# Enable meshing:
#MESHING=0
# Enable building the mesh:
#BUILD_MESHING=0

# When developing the bootloader, you might want some logging (via NRF logs).
# This requires more space for the bootloader, so you'd have to decrease the start address and increase size.
# The bootloader start address:
#BOOTLOADER_START_ADDRESS=0x71000
# The bootloader size:
#BOOTLOADER_LENGTH=0xD000

########################################################################################################################
# Build System Configuration. These variables can be adjusted to your build system paths.
# Note: They can be left blank as the default location should be fine.
########################################################################################################################

# This is the directory where the cross-compiler resides
#COMPILER_PATH=

# The compiler type
#COMPILER_TYPE=arm-none-eabi

# The JLink utility (when using the Segger to flash the nRF)
#JLINK=/usr/bin/JLinkExe

# The JLink utilty that can be used with gdb
#JLINK_GDB_SERVER=/usr/bin/JLinkGDBServer

# Location of the Nordic Software Development Kit
#NRF5_DIR=

# Location of the mesh SDK
#MESH_SDK_DIR=

