########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################
#
# The configuration settings that are used for releases are set in:
#    source/conf/cmake/CMakeBuild.config.default
#
# The default settings here are for development. The settings of CMakeBuild.config.default will be overwritten.
#
# If you want other settings on your system, do not just this file (it will be commited to the code repository).
#
# Recommended:
#
#   + Add the custom settings to a new file in this directory: config/default/CMakeBuild.overwrite.config
#     + If those are runtime settings, you can also use: config/default/CMakeBuild.runtime.config
#     + Run cmake and make with the default target.
#   + Add a new directory in config, say config/feature
#     + Copy this file to that directory and change whatever you like.
#     + No need to commit this new directory to git, feel free again to use overwrite and runtime config.
#     + Run cmake and make with the new target (here called feature).
#

# The name that is advertised in development mode. Should be 4 characters or less.
BLUETOOTH_NAME=test

# The default hardware board for development.
HARDWARE_BOARD=PCA10040

# The default setting for serial in development (the Crownstone can now listen to commands, but that's another setting).
CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

# The default log level. Check yourself if you can compile also with maximum verbosity: SERIAL_DEBUG.
SERIAL_VERBOSITY=SERIAL_INFO

