########################################################################################################################
# Configuration options, used by build systems and scripts.
########################################################################################################################
# By default, the values from the CmakeBuild.config.default are used.
# Copy any value over from the CMakeBuild.config.default that you want to change.

# The name that is advertised.
# Should be 4 characters or less.
# You can use up to 25, but the name in the advertisement package will be truncated to 4 characters.
BLUETOOTH_NAME=crwn

# The hardware board where you want to upload the firmware
# For the complete overview of the hardware boards, see CMakeBuild.config.default
HARDWARE_BOARD=PCA10100

# Pin layout
NORDIC_HARDWARE_BOARD=PCA10100

# By default, a Crownstone has its serial disabled, which can be enabled via a bluetooth command.
# You can change the default value:
CS_SERIAL_ENABLED=SERIAL_ENABLE_RX_AND_TX

# Set the log level.
# A complete list of optios can be found in CMakeBuild.config.default
SERIAL_VERBOSITY=SERIAL_DEBUG

# Enable the binary protocol if you want to use a UART library.
# Disable the binary protocol if you want to use a serial communication program, like Minicom.
CS_UART_BINARY_PROTOCOL_ENABLED=0

########################################################################################################################
# Settings for the nRF52833
# See CMakeBuild.config.default for explanation.
########################################################################################################################

DEVICE=nRF52833

NORDIC_SDK_VERSION=16

SOFTDEVICE_MAJOR=7
SOFTDEVICE_MINOR=0
SOFTDEVICE_SERIES=132
SOFTDEVICE=s132_nrf52_7.0.1

APPLICATION_START_ADDRESS=0x00026000
APPLICATION_LENGTH=0x50000

RAM_R1_BASE=0x200023C0
RAM_APPLICATION_AMOUNT=0x1DC40
