########################################################################################################################
# Configuration options, used by factory image creation process
########################################################################################################################

# For naming conventions see:
#   - https://github.com/crownstone/bluenet/blob/master/docs/NAMING.md
# How to create a factory image, see:
#   - https://github.com/crownstone/bluenet/blob/master/docs/RELEASE_PROCESS.md

# Hardware type (Crownstone plug, Crownstone built-in, Guidestone)
# For example, a Guidestone cannot switch and the corresponding behavior should be disabled
# Per these hardware types there can also be different boards, each board has an identifier, e.g. ACR01B10C
HARDWARE_BOARD=ACR01B10D

# Name
FACTORY_IMAGE_HARDWARE_NAME=builtin-one-1B10D-v25-patch-1

# Crownstone has product family 0x01
PRODUCT_FAMILY=0x01

# European market: 0x01
PRODUCT_MARKET=0x01

# Type of product:
#   0x00 undefined
#   0x01 development board
#   0x02 plug
#   0x03 builtin
#   0x04 guidestone
#   0x05 dongle
#   0x06 built-in one
#   0x07 plug one
PRODUCT_TYPE=0x06

# Additional (hardware) version information
PRODUCT_MAJOR=0x00
PRODUCT_MINOR=0x01
PRODUCT_PATCH=0x01

PRODUCT_NOTE="Crownstone built-in one 1B10D v25 with patch 1 (fuse F2 replaced with 4A version)."

# Production date (year and week)
PRODUCTION_YEAR=20
PRODUCTION_WEEK=34

# Housing type
PRODUCT_HOUSING=0x01
