########################################################################################################################
# Configuration options, used by factory image creation process
########################################################################################################################

# The address of the settings for the master boot record
MBR_SETTINGS=0x0007E000

# The bootloader address that should be written to a UICR register
UICR_BOOTLOADER_ADDRESS=0x00076000

# Hardware type (Crownstone plug, Crownstone built-in, Guidestone)
# For example, a Guidestone cannot switch and the corresponding behavior should be disabled
# Per these hardware types there can also be different boards, each board has an identifier, e.g. ACR01B10C
HARDWARE_BOARD=ACR01B10C

# Postfix
IMAGE_FILENAME_POSTFIX=_builtin_one

# Crownstone has product family 0x01
PRODUCT_FAMILY=0x01

# European market: 0x01
PRODUCT_MARKET=0x01

# Type of product:
#   0x00 undefined
#   0x01 development board
#   0x02 plug
#   0x03 builtin 
#   0x04 guidestone
PRODUCT_TYPE=0x03

# Additional (hardware) version information
PRODUCT_MAJOR=0x00
PRODUCT_MINOR=0x00
PRODUCT_PATCH=0x00

PRODUCT_NOTE="Crownstone built-in One."

# Production date (year and week)
PRODUCTION_YEAR=19
PRODUCTION_WEEK=3

# Housing type 
PRODUCT_HOUSING=0x01
