########################################################################################################################
# Configuration options, used by factory image creation process
########################################################################################################################

# Version of the combined software.
# The latest should have a higher version.
FACTORY_IMAGE_SOFTWARE_VERSION=6

# The address of the settings for the master boot record
MBR_SETTINGS=0x0007E000

# The bootloader address that should be written to a UICR register
UICR_BOOTLOADER_ADDRESS=0x00076000

FACTORY_IMAGE_SOFTWARE_NAME=firmware-5.5.0_bootloader-2.1.0

FACTORY_IMAGE_APPLICATION_HEX_FILE=../../bluenet-release/firmwares/crownstone_5.5.0/bin/crownstone.hex
FACTORY_IMAGE_BOOTLOADER_SETTINGS_HEX_FILE=../../bluenet-release/firmwares/crownstone_5.5.0/bin/bootloader-settings.hex

FACTORY_IMAGE_BOOTLOADER_HEX_FILE=../../bluenet-release/bootloaders/bootloader_2.1.0/bin/bootloader.hex
FACTORY_IMAGE_SOFTDEVICE_HEX_FILE=../../bluenet-release/bootloaders/bootloader_2.1.0/bin/softdevice.hex

