---
BasedOnStyle: Chromium
Language: Cpp

###### Source file preamble and comments ######

IncludeBlocks: Preserve
AlignTrailingComments: true

###### brackets ######

AlignAfterOpenBracket: AlwaysBreak

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true

###### parameter lists ######

AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true

###### Operators ######

AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
AlignConsecutiveAssignments: true

###### Wrapping and general whitespace ######

ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
KeepEmptyLinesAtTheStartOfBlocks: true

UseTab: ForContinuationAndIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4

...
